*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{}

.header-section{
    background-color: rgba(255, 0, 0, 0.829) ;
    width: 98%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.header-section .logo{}
.header-section .logo img{
    width: 100px;
    padding-left: 30px;
  
}
.header-section .meno{
 
}
.header-section .meno>ul{
    list-style: none;
    display: flex;
    align-items: center;
   height: 100%;

   
}
.header-section .meno>ul>li{
  transition: all 4s;
}
.header-section .meno>ul>li>a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 13px 38px;
    text-transform: capitalize;
   
} 
.header-section .meno>ul>li>a:hover{
    background-color: rgba(0, 0, 0, 0.445);
    color: white
}
/* -----------submeno header style ----------  */

.container{
    font-family: 'Lato', sans-serif;  
   padding-bottom: 50px;
}
.container .container-heading{
    width: 100%;
   
}
.container .container-heading h2{
    text-align: center;
   padding-bottom: 10px;
    font-size: 35px;
    text-transform: capitalize;
   
  
}

/* ---------container style ----------  */

.header-section .meno>ul>li>ul{
    list-style-type: none;
    position: absolute;
    background-color: #F92C3C;
    width: 200px;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.8s;
    opacity: 0;
    /* display: none; */
   
   

}
.header-section .meno>ul>li>ul>li{
}
.header-section .meno>ul>li>ul>li>a{
    text-decoration: none;
    padding: 13px 15px ;
   display: inline-block;
   color: black;
   transition: all 1s;
  
}
.header-section .meno>ul>li>ul>li:hover{
    background-color: rgba(70, 37, 37, 0.445);
 
   
}
.header-section .meno>ul>li>ul>li:hover a{
    color: white;
   padding: 13px 30px;
   text-decoration: none;

}
.header-section .meno>ul>li:hover ul{
    /* display: block; */
    transform: scaleY(1);
    opacity: 1;
}
/*-------End header section------------*/


.all-team-member{

}
.team-section .container{
    padding:10px
}
.team-section .container h1{
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.team-section .container p{
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 30px;
}


/* .single-team:hover{
   background: rgba(255, 0, 0, 0.26);
   transition: all 1s;
   transform: translate(2);
} */

.team-section .row h2{
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;
}
.team-section .row p{
    padding: 0px 20px 30px;
}
.team-section .row ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
} 
.team-section .row ul li {
    padding: 9px;
} 
.team-section .row ul li a{
    text-decoration: none;
    font-size: 33px;
} 

.fa-facebook-official{
    color: #3b5998;
}
.fa-twitter-square{
    color:#00acee;
}
.fa-google-plus-square{
    color:rgb(221, 75, 57);
}
.fa-pinterest-square{
    color: #c8232c;
}


.team-section .join-team{
    text-align: center;
    padding: 80px 0px;
}
.team-section .join-team button{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #373737;
    color:white;
    font-size: 18px;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.253);
} 
.team-section .join-team button:hover{
    color: black;
    background-color: #C2C2C2;
   
}
.team-section .join-team button:focus{
    outline: none;
}
    /*-------End team section------------*/
    .contact-section{
        font-family: 'Raleway', sans-serif;
        background-color: #E5E5E5;
        padding: 10px 20px 40px 20px;
    }
  .contact-heading{
        text-align: center;
        padding: 40px 0px ;
        text-transform: capitalize;
    }
    .contact-heading h1{
        padding-bottom: 20px;
    }
   .contact-heading p{}
   .my-fomr input{
       margin-bottom: 10px;
   }
   .my-fomr .btn{
       margin:20px 0px 20px;
   }
